<launch>
  <!-- LeftHand and RightHand are supported -->
  <arg name="limb_name" default="LeftHand" />

  <!-- load robot description -->
  <arg name="robot_model_path" value="$(find hrp2_drc_description)/urdf/HRP2KAImain.urdf" />
  <param name="robot_description" command="$(find xacro)/xacro $(arg robot_model_path)" />
  <rosparam subst_value="true">
    robot_convex_path: $(find hrp2_drc_description)/convex/HRP2KAImain/
  </rosparam>

  <node pkg="differentiable_rmap" type="NodeRmapSamplingLocomanip" name="rmap_sampling_locomanip"
        output="screen">
    <rosparam subst_value="true">
      config_path: $(find differentiable_rmap)/config/RmapSamplingHRP2KAILocomanip.yaml
      bag_path: /tmp/rmap_sample_set_SE2_$(arg limb_name).bag
    </rosparam>

    <rosparam subst_value="true" if="$(eval arg('limb_name') == 'LeftHand')">
      body_name: LARM_LINK6
      joint_name_list: [LARM_JOINT0, LARM_JOINT1, LARM_JOINT2, LARM_JOINT3, LARM_JOINT4, LARM_JOINT5, LARM_JOINT6]
      sample_num: 10000
      sleep_rate: 2000
    </rosparam>

    <rosparam subst_value="true" if="$(eval arg('limb_name') == 'RightHand')">
      body_name: RARM_LINK6
      joint_name_list: [RARM_JOINT0, RARM_JOINT1, RARM_JOINT2, RARM_JOINT3, RARM_JOINT4, RARM_JOINT5, RARM_JOINT6]
      sample_num: 10000
      sleep_rate: 2000
    </rosparam>
  </node>

  <node pkg="rviz" type="rviz" name="$(anon rviz)"
        args="-d $(find differentiable_rmap)/rviz/RmapSamplingHRP2KAILocomanip.rviz"
        output="log" clear_params="true" />
</launch>
