<launch>
  <!-- R2, SE2, R3, or SE3 are supported -->
  <arg name="sampling_space" default="R2" />
  <arg name="load_svm" default="false" />

  <node pkg="differentiable_rmap" type="NodeRmapTraining" name="rmap_training"
        output="screen">
    <rosparam subst_value="true">
      sampling_space: $(arg sampling_space)
      config_path: $(find differentiable_rmap)/config/RmapTraining.yaml
      bag_path: /tmp/rmap_sample_set_$(arg sampling_space).bag
      svm_path: /tmp/rmap_svm_model_$(arg sampling_space).libsvm
      load_svm: $(arg load_svm)
    </rosparam>
  </node>

  <node pkg="rviz" type="rviz" name="rviz"
        args="-d $(find differentiable_rmap)/rviz/RmapTraining.rviz"
        output="log" clear_params="true" />

  <node pkg="rqt_ez_publisher" type="rqt_ez_publisher" name="rqt_ez_publisher"
        args="--slider-file $(find differentiable_rmap)/rqt/RmapTraining.yaml"
        output="log" clear_params="true" />
</launch>
