<launch>
  <node pkg="differentiable_rmap" type="NodeRmapPlanningLocomanip" name="rmap_planning_locomanip"
        output="screen">
    <rosparam subst_value="true">
      config_path: $(find differentiable_rmap)/config/RmapPlanningLocomanip.yaml
      limb_name_list: [LeftFoot, RightFoot, LeftHand]
      svm_path_list: [
        $(find differentiable_rmap)/data/rmap_svm_model_SE2_LeftFoot_hrp2kai.libsvm,
        $(find differentiable_rmap)/data/rmap_svm_model_SE2_RightFoot_hrp2kai.libsvm,
        $(find differentiable_rmap)/data/rmap_svm_model_SE2_LeftHand_locomanip.libsvm]
      bag_path_list: [
        $(find differentiable_rmap)/data/rmap_grid_set_SE2_LeftFoot_hrp2kai.bag,
        $(find differentiable_rmap)/data/rmap_grid_set_SE2_RightFoot_hrp2kai.bag,
        $(find differentiable_rmap)/data/rmap_grid_set_SE2_LeftHand_locomanip.bag]
    </rosparam>
  </node>

  <node pkg="optmotiongen" type="InteractiveMarkerManager.py" name="rviz_server"
        clear_params="true">
    <rosparam>
      enable_initial_publish: false
      interactive_markers:
        - name: target
          initial_pose:
            pos: [0.75, 0.9, 0.0]
          axis_controls: [rz]
          markers:
            - type: 0 # ARROW
              scale: [0.15, 0.05, 0.05]
              color: [1.0, 1.0, 0.0, 0.5]
    </rosparam>
  </node>

  <node pkg="rviz" type="rviz" name="rviz"
        args="-d $(find differentiable_rmap)/rviz/RmapPlanningLocomanip.rviz"
        output="log" clear_params="true" />
</launch>
