<launch>
  <!-- only R2 is supported -->
  <arg name="sampling_space" value="R2" />

  <!-- load robot description -->
  <arg name="robot_model_path" value="$(find differentiable_rmap)/urdf/Simple2DoFManipulator.urdf.xacro" />
  <param name="robot_description" command="$(find xacro)/xacro $(arg robot_model_path)" />

  <node pkg="differentiable_rmap" type="NodeRmapSampling" name="rmap_sampling"
        output="screen">
    <rosparam subst_value="true">
      sampling_space: $(arg sampling_space)
      bag_path: /tmp/rmap_sample_set_$(arg sampling_space).bag
      body_name: EEF
      joint_name_list: [Joint1, Joint2]
      sample_num: 10000
      sleep_rate: 2000
    </rosparam>
  </node>

  <node pkg="rviz" type="rviz" name="rviz"
        args="-d $(find differentiable_rmap)/rviz/RmapSamplingSimple2DoFManipulator.rviz"
        output="log" clear_params="true" />
</launch>
